@import "tailwindcss";

.custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4B5563 transparent; /* Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Chrome, Safari, Edge */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Chrome, Safari, Edge */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4B5563; /* Chrome, Safari, Edge */
    border-radius: 3px;
  }
  
  .video-details-transition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }